body {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #525a48; /* ดำ */
  color: #fff; /* ข้อความขาว */
  line-height: 1.6;
}

header {
  background-color: #131311;
  padding: 1rem;
  text-align: center;
  border: 3px solid #1f2c17;
}

header h1 {
  color: #fff;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

nav a {
  color: #00ff99;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #777465;
}

.hero {
  background: #444;
  color: white;
  padding: 3rem;
  text-align: center;
}

section {
  background-color: #222;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

section ul li a {
  color: #fff;              /* สีเหลือง */
  text-decoration: none;       /* ไม่มีขีดเส้นใต้ */
  font-weight: bold;
}

section ul li a:hover {
  
  color: #ffcc00;                 /* หรือเปลี่ยนเป็นขาวตอน hover */
}


.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 0.7;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  color: #edede7;
  margin-top: 2rem;
  font-size: 0.9rem;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
}

#lightbox .close {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}





.content-split {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start; /* ขยับสารบัญไปชิดด้านบน */
  flex-wrap: wrap;
}

.content-split .toc {
  flex: 1;
  min-width: 250px;
}

.content-split .photo {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.content-split .photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
